.gridContainer{
    background-color: rgb(54, 93, 93);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.gridChild{
    height: auto;
}
.imgContainer{
    position: relative;
}
.imgContainer>img{
    object-fit: contain;
}
.imgContainer>button{
    width: 50px;
    position: absolute;
    right:2%;
    bottom: 2%;
    z-index: 2;
}